@keyframes typing {
    from { width: 0; }
    to { width: 0; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }
  
  .animated-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid black;
    font-size: 1.5em;
    animation: typing 1.5s steps(30, end), blink-caret 0.75s step-end infinite;
  }