@import "~react-toastify/dist/ReactToastify.css";

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.image {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 200px;
}

.image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hovercard{
  transition: transform 0.2s ease-in-out;
  border: 1px solid #ddd;
}

.hovercard:hover {
  transform:scale(1.1); 
  z-index: 0.5;
  border-color: #8f37b7; 
  box-shadow: 0 0 10px 2px #6a1b9a;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

body {
  background-image: url('../public/assats/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  height: 100%;
  padding: 0;
}

.BackHeader{
  background: rgb(252,241,255);
  background: linear-gradient(90deg, rgba(252,241,255,1) 0%, rgba(248,216,255,1) 48%, rgba(252,241,255,1) 100%);
}

.BackBody{
  background: rgb(252,241,255);
}

.roundedTable {
  border-collapse: separate;
  border-spacing: 0; 
  border-radius: 15px;
  overflow: hidden;
}

.navbar-custom{
  background-color: #8f37b7;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link{
  color: white !important;
}

.navbar-custom .nav-link:hover {
  color: #ddd;
}

.navbar-custom .dropdown-menu {
  background-color: #8f37b7;
}

.navbar-custom .dropdown-item {
  color: white;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
  background-color: #4a0072;
  color: white;
}

.navbar-custom .dropdown-item:active {
  background-color: #8f37b7;
  color: white;
}

.navbar-custom .navbar-toggler-icon {
  filter: invert(1);
}

.custom-button {
  background-color: #8f37b7 !important;
  color: white !important;
}

.custom-button:hover {
  background-color: #4b0082 !important;
}

.custom-watch{
  background-color: #e6e6fa !important;
}

.custom-watch:hover{
  background-color: #4b0082 !important;
  color: white !important;
}

.custom-remove{
  background-color: #f8bbd0 !important;
}

.custom-remove:hover{
  background-color: rgb(188, 20, 20) !important;
  color:white !important;
}


.custom-cart{
  background-color: #f8bbd0 !important;
}

.custom-cart:hover{
  transform:scale(0.9); 
  z-index: 0.5;
}

.custom-favourite{
  background-color: #e6e6fa !important;
}

.custom-favourite:hover{
  transform:scale(0.9); 
  z-index: 0.5;
}

.about{
  background-color: #8f37b7;
}

.changepass:hover{
  box-shadow: 0 0 1px 1px #6a1b9a !important;
}

/* #6a1b9a */

.custom-submit {
  background-color: #8f37b7 !important;
  color: white !important;
}

.custom-submit:hover {
  background-color: #4b0082 !important;
  box-shadow: 0 0 1px 1px #4b0082 !important;
}